@charset "UTF-8";
/*@import 'stylesheets';//引入另一个scss|sass*/
/*@import 'main.css';//引入另css文件*/
/*多行注释：会被编译到css文件中*/
#box {
  width: 100px;
  height: 180px;
  background: blue;
  margin-left: 10px; }
  #box ul {
    width: 700px;
    margin-left: 10px;
    margin-top: 20px; }
    #box ul li {
      width: 100px; }
      #box ul li h1, #box ul li h2, #box ul li h3 {
        font-size: 20px; }
  #box:hover {
    color: red; }

.clearFix {
  zoom: 1; }
  .clearFix:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    font-size: 0;
    overflow: hidden;
    visibility: hidden; }

/*#box>ul{
    width:$n*7;
}*/
.trans {
  -webkit-transform: rotate(60deg) translateX(100px);
  -moz-transform: rotate(60deg) translateX(100px);
  -o-transform: rotate(60deg) translateX(100px);
  transform: rotate(60deg) translateX(100px); }

div {
  -webkit-transform: rotate(90deg) translateX(100px);
  -moz-transform: rotate(90deg) translateX(100px);
  -o-transform: rotate(90deg) translateX(100px);
  transform: rotate(90deg) translateX(100px); }

/*@for to   变量递增包括start 不包括 end  (变量必须为整数)*/
.item-1 {
  width: 200px;
  margin-left: 200px; }

.item-2 {
  width: 400px;
  margin-left: 200px; }

.item-3 {
  width: 600px;
  margin-left: 200px; }

/*@for through   变量递增包括start 包括 end  (变量必须为整数)*/
.lis-1 {
  height: 100px;
  margin-left: 100px; }

.lis-2 {
  height: 200px;
  margin-left: 100px; }

.lis-3 {
  height: 300px;
  margin-left: 100px; }

.lis-4 {
  height: 400px;
  margin-left: 100px; }

#oUl li:nth-child(1) {
  width: 200px; }

#oUl li:nth-child(2) {
  width: 400px; }

#oUl li:nth-child(3) {
  width: 600px; }

#oUl li:nth-child(4) {
  width: 800px; }

#oUl li:nth-child(5) {
  width: 1000px; }

#oUl li:nth-child(6) {
  width: 1200px; }

/*@each in  遍历多值变量*/
.item-left {
  margin-left: 200px; }

.item-top {
  margin-top: 200px; }

.item-right {
  margin-right: 200px; }

.item-bottom {
  margin-bottom: 200px; }
