*{
	margin:0;
	padding:0;
}
body{
	background:#ccc;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	position: fixed;
	background:rgba(255,0,0,0.3);
}
nav{
	width: 90%;
	margin:0 auto;
	padding-top:5px;
}
nav input{
	width: 60%;
	height:30px;
	border-radius:20px;
}
nav span{
	font-size:20px;
	color:#fff;
	display: inline-block;
	margin-left:5px;
	margin-top:3px;
	vertical-align: top;
}
nav img{
	width:65px;
	vertical-align: top;
	margin-top:3px;
	margin-right:5px;
}
main{	
	padding-top:20px;
}
.nav1{
	display: flex;
	justify-content:space-around;
}
.nav1 section{
	width: 17%;
	text-align: center;
}
.nav1 img{
	width: 45px;	
}
.nav1 section a{
	font-size:12px;
}
.nav1 section a:nth-child(2){
	display: block;
	color:black;
}
.nav2{
	display: flex;
	justify-content:space-around;
	margin-top:20px;
}
.nav2 section{
	width: 20%;
	text-align: center;
}
.nav2 img{
	width: 45px;	
}
.nav2 section a{
	font-size:12px;
}
.nav2 section a:nth-child(2){
	display: block;
	color:black;
}
.main-top-footer{
	width: 95%;
	height:30px;
	background:#fff;
	margin:0 auto;
	border-radius: 10px;
	margin-top:20px;
}
.main-top-footer img{
	width:65px;
	line-height: 30px;
	vertical-align: top;
	margin-top:8px;
}
.main-top-footer span:nth-child(2){
	font-size:10px;
	color:red;
	line-height:30px;
}
.main-top-footer span:nth-child(3){
	font-size:10px;
	line-height:30px;
}
.main-top-footer span:nth-child(4){
	font-size:10px;
	line-height:30px;
	border-left:1px solid #ccc;
	padding-left:5px;
	margin-left:30px;
}
.MS{
	background: #fff;
	margin-top:10px;
	position: relative;
}
.MS-top{
	padding-top:10px;
	height:30px;
}
.MS-top span:nth-child(2){
	font-size:14px;
}
.time span{
	border:1px solid #ccc;
	font-size: 14px;
	padding:3px;
	border-radius: 5px;
}
.MS-footer{
	display: flex;
	justify-content: space-around;
	margin-top:10px;
}
.MS-footer section{
	width:25%;
	text-align: center;
}
.MS-footer section img{
	width:90px;
	border-right:1px solid #ccc;
}
.MS-footer section p:nth-child(2){
	font-size: 10px;
	color:red;
}
.good,.hot,.game{
	width:37px;
	height: 23px;
	font-size:18px;
	color:#fff;
	border-radius: 5px;
}
.good{
	background: blue;
	position: absolute;
	top:120px;
	left:5px;
}
.hot{
	background: orange;
	position:absolute;
	top:120px;
	left:100px;
}
.game{
	background: skyblue;
	position: absolute;
	top:120px;
	left:195px;
}
.discount img{
	width: 100%;
}
.discount{
	padding-top:10px;
	background: #fff;
}
.main-main{
	background:#fff;
	padding-top:10px;
	display: flex;
}
.main-main section{
	width: 25%;
}
.main-main img{
	width:75px;
	margin-left:10px;
	border-right:1px solid #ccc;
}
.main-main h1{
	font-size:18px;
	margin-left:10px;
}
.main-main p{
	font-size: 12px;
	margin-left:10px;
}
.main-main button{
	font-size:12px;
	background:#ff4a7d;
	color:#fff;
	margin-top:5px;
	margin-left:10px;
}
.img{
	background: #fff;
}
.img img{
	width: 100%;
}
footer{
	background: #fff;
}
footer div{
	width: 100%;
	background: #fff;
	position: fixed;
	left:0;
	bottom:0;
	display: flex;
	justify-content: space-around;
	z-index: 1;
}
footer section{
	width: 20%
}
footer img{
	width:80%;
}
div{
	background: #fff;
}
.box{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: red;
	border-radius: 50%;	
}
.box1{
	color:#fff;
	display:block;
	text-align: center;
	margin-top:-5.5px;
	margin-left:3px;
}