/*@import 'stylesheets';//引入另一个scss|sass*/
/*@import 'main.css';//引入另css文件*/
$n:790px !default;
$n:100px;
$x:180px;
$bg:blue;
$dir:left;
/*多行注释：会被编译到css文件中*/
#box{
    width:$n;
    height: $x;
    background: $bg;
    margin-#{$dir}:10px;
    //选择器嵌套
    ul{
        width:$n*7;
        margin:{
            left:10px;
            top: 20px;
        }
        li{
            width:$n;
            h1,h2,h3{
                font-size: 20px;
            }
        }
    }
    &:hover{
        color:red;
    }
}
.clearFix{
    zoom:1;
    &:after{
        content:'';
        display: block;
        width: 0;
        height: 0;
        clear:both;
        font-size: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
//单行注释:不会被编译到css文件中
/*#box>ul{
    width:$n*7;
}*/

//混合
@mixin tranform_1($deg:60deg,$l:100px){
    -webkit-transform:rotate($deg) translateX($l);
    -moz-transform:rotate($deg) translateX($l);
    -o-transform:rotate($deg) translateX($l);
    transform:rotate($deg) translateX($l);
}

.trans{
    @include tranform_1;
}
div{
    @include tranform_1(90deg);
}
/*@for to   变量递增包括start 不包括 end  (变量必须为整数)*/
$d:left;
@for $i from 1 to 4{
    .item-#{$i}{
        width:200px * $i;
        margin-#{$d}: 200px;
    }
}
/*@for through   变量递增包括start 包括 end  (变量必须为整数)*/
@for $j from 1 through 4{
    .lis-#{$j}{
        height:100px * $j;
        margin-#{$d}:100px;
    }
}
@for $k from 1 through 6{
    #oUl li:nth-child(#{$k}){
        width:$k *200px;
    }
}
/*@each in  遍历多值变量*/
$arr:left,top,right,bottom;
@each $key in $arr{
    .item-#{$key}{
        margin-#{$key}:200px;
    }
}

