#yg{
	color:yellow;
	border:5px dotted blue;
}
.tq{
	color:red;
	border:5px solid yellow;
}
span{
	color:blue;
	border:5px double red;
}
.xx{
	color:green;
	border:5px dashed red;
}
#y{
	border-top:5px dotted blue;
	border-right:5px solid yellow;
	border-left:5px double red;
	border-bottom:5px dashed red;
}