.main{
	width:1000px;
	margin:0 auto;
	position:relative;
}
.new{
	font-size:14px;
	color:#333;
	position:absolute;
	top:-40px;
	left:280px;
}
.main-top{
	font-size:12px;
	color:#aaa;
	margin:10px 0 10px 800px;
}
.main-main-l{
	width:190px;
	height:85px;
	border:1px solid #ccc;
	border-top:3px solid #ffa507;
	position:relative;
	margin-left:80px;
}
.main-main-l ul li{
	list-style:none;
	width:174px;
	height:42px;
	border-bottom:1px dashed #ccc;
	margin:0 5px;
}
.main-main-l ul li a{
	font-size:14px;
	color:#7a7a7a;
	line-height:42px;
	margin-left:18px;
}
.main-main-l ul li a:hover{
	color:red;
}
.BJ{
	width:0px;
	height:0;
	border:6px solid transparent;
	border-left:6px solid red;

}
.BJ-1{
	position:absolute;
	top:15px;
	left:10px;
}
.BJ-2{
	position:absolute;
	top:57px;
	left:10px;
}
.main-main-r{
	width:650px;
	border:1px solid #ccc;
	margin-left:5px;
	margin-bottom:100px;
}
.main-main-r p{
	color:#7a7a7a;
	width:600px;
	margin:20px 0 0 27px;
}
.H{
	font-size:14px;
	
	text-align:center;
}
.T{
	font-size:12px;
	margin-top:30px;
	border-bottom:1px solid #ccc;
	text-align:center;
	padding-bottom:30px;
}
.F{
	font-size:12px;
	border-bottom:1px solid #ccc;
	padding-bottom:180px;
}
.weixin img{
	margin-left:475px;
}