.main{
	width:920px;
	margin:0 auto;
	position:relative;
}
.new{
	font-size:14px;
	color:#fff;
	position:absolute;
	top:-40px;
	left:280px;
}
.main-top{
	font-size:12px;
	color:#aaa;
	margin:10px 0 10px 775px;
}
.main-main-l{
	width:190px;
	height:171px;
	border:1px solid #ccc;
	border-top:3px solid #ffa507;
	position:relative;
	margin-left:50px;
}
.main-main-l ul li{
	list-style:none;
	width:174px;
	height:42px;
	border-bottom:1px dashed #ccc;
	margin:0 5px;
}
.main-main-l ul li a{
	font-size:14px;
	color:#7a7a7a;
	line-height:42px;
	margin-left:18px;
}
.main-main-l ul li a:hover{
	color:red;
}
.BJ{
	width:0px;
	height:0;
	border:6px solid transparent;
	border-left:6px solid red;

}
.BJ-1{
	position:absolute;
	top:15px;
	left:10px;
}
.BJ-2{
	position:absolute;
	top:57px;
	left:10px;
}
.BJ-3{
	position:absolute;
	top:100px;
	left:10px;
}
.BJ-4{
	position:absolute;
	top:143px;
	left:10px;
}
.main-main-r{
	width:650px;
	border:1px solid #ccc;
	margin-left:5px;
	background:#fff;
	margin-bottom:50px;
}
.main-l img{
	border:1px solid #ccc;
	margin:15px 0 0 20px;
	vertical-align:top;
}
.main-r p{
	width:360px;
	font-size:12px;
	color:#6b6b6b;
	margin:15px 0 0 5px;
}
.main-footer p{
	font-size:12px;
	color:#6b6b6b;
	margin:10px 0 20px 20px;
}