*{
	margin:0;
	padding:0;
}
body{
	width:960px;
	margin:0 auto;
}
.clearFix::after{
	content:'';
	display:block;
	clear:both;
}
.l{
	float:left;
}
.r{
	float:right;
}
.header-top{
    height:30px;
    background:#fbfbfb;
    border:1px solid #fbfbfb;
    border-radius:10px;
    line-height:30px;
    margin-bottom:10px;
}
.header-top span{
	font-size:12px;
	color:#666;
	padding-left:20px;
}
.header-top-left a{
	font-size:12px;
	color:#999;
	border:2px solid #fff;
	border-radius:2px;
	background:#fff;
	text-decoration:none;
}
.header-top-left a:hover{
	color:red;
}
.header-top-right a{
	text-decoration:none;
	font-size:12px;
	color:#666;
	border-right:1px solid #d5d5d5;
}
.header-top-right{
	margin-left:490px;
}
.header-center ul li{
	list-style:none;
	font-size:12px;
}
.hovered-1 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/1.png);
}
.hovered-1 a:hover{
	background:url(../img/01.png);
}
.hovered-2 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/2.png);
}
.hovered-2 a:hover{
	background:url(../img/0.png);
}
.hovered-3 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/3.png);
}
.hovered-3 a:hover{
	background:url(../img/03.png);
}
.hovered-4 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/4.png);
}
.hovered-4 a:hover{
	background:url(../img/04.png);
}
.hovered-5 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/5.png);
}
.hovered-5 a:hover{
	background:url(../img/05.png);
}
.hovered-6 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/6.png);
}
.hovered-6 a:hover{
	background:url(../img/06.png);
}
.hovered-7 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/7.png);
}
.hovered-7 a:hover{
	background:url(../img/07.png);
}
.hovered-8 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/8.png);
}
.hovered-8 a:hover{
	background:url(../img/08.png);
}
.hovered-9 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/9.png);
}
.hovered-9 a:hover{
	background:url(../img/09.png);
}
.hovered-10 a{
	display:block;
	width:48px;
	height:48px;
	background:url(../img/10.png);
}
.hovered-10 a:hover{
	background:url(../img/010.png);
}
.header-center ul li a{
	text-decoration:none;
	color:#333;
}
.header-center ul{
	text-align: center;
}
.header-center ul li{
	margin-left:20px;
}
.header-center-center img{
	margin-right:10px;
	margin-left:25px;
}
.header-bottom{
	height:118px;
	border:1px solid #dbdbdb;
	border-radius:10px;
	margin-top: 28px;
	border-top:none;
    border-bottom:none;
    position:relative;
}
.header-bottom-top{
	background:#fff;
	height:18px;
	border-top:1px solid #dbdbdb;
	border-radius:10px 10px 0 0;
}
.header-bottom-center{
	background: #e21c01;
	height:66px;
	border:1px solid #e21c01;
	border-radius:10px;
	position:relative;
}
.header-bottom-footer{
	background: #f6f6f6;
	height:34px;
	border-bottom:1px solid #dbdbdb;
	border-radius:0 0 10px 10px;
	line-height:34px;
}
.header-bottom-top a{
	text-decoration:none;
	font-size:14px;
	color:#000;
}
.header-footer{
	position:absolute;
	top:5px;
	left:30px;
}
.header-bottom-top div{
	width:80px;
	height:28px;
	border:1px solid #f8d0bf;
	border-radius:10px 10px 0 0;
	border-bottom:none;
}
.sd{
	background:#fff;
	text-align:center;
	line-height:25px;
	position:absolute;
	top:-10px;
	left:228px;
}
a:hover .sd{
	background:#e21c01;
}
a:hover span{
	color:#fff;
}
.dz{
	background:#fff;
	text-align:center;
	line-height:25px;
	position:absolute;
	top:-10px;
	left:310px;
}
a:hover .dz{
	background:#e21c01;
}
.yh{
	background:#fff;
	text-align:center;
	line-height:25px;
	position:absolute;
	top:-10px;
	left:393px;
}
a:hover .yh{
	background:#e21c01;
}
.qw{
	background:#fff;
	text-align:center;
	line-height:25px;
	position:absolute;
	top:-10px;
	left:476px;
}
a:hover .qw{
	background:#e21c01;
}
.sp{
	background:#fff;
	text-align:center;
	line-height:25px;
	position:absolute;
	top:-10px;
	left:559px;
}
a:hover .sp{
	background:#e21c01;
}
.header-bottom-center input{
	width:410px;
	height:20px;
	position:absolute;
	top:20px;
	left:230px;
	border-radius:5px;
}
.header-bottom-center img{
    position:absolute;
	top:18px;
	left:655px;
}
.header-bottom-center p{
	font-size:12px;
	color:#fbfbfb;
	width:180px;
	margin-top:16px;
	margin-left:740px
}
.header-bottom-footer img{
	vertical-align:top;
}
.header-bottom-footer a{
	font-size:12px;
	color:#999;
	text-decoration:none;
}
.main{
	margin-top:10px;             
}
.main-left-box1{
	margin-top:10px;
}
.main-left-box1-l{
	width:350px;
	height:420px;
	border:1px solid #e5e5e5;
	border-radius:10px;
}
.main-play{
	width: 25px;
	height: 25px;
	background: #e7e7e7;
	border-radius:12.5px;
	margin-left:5px;
}
.main-left-box1-l-top{
	padding:10px 0 0 12px;
}
.main-left-box1-l-top a{
	text-decoration:none;
	font-size:18px;
	color:#d90000;
}
.main-play-c{
	width: 0px;
	height: 0px;
	margin:7px 0 0 10px;
	border:5px transparent solid;
	border-left:5px solid red;	
}
.main-left-box1-l img{
	margin:10px 0 0 15px;
}
.pk ul li a{
	text-decoration:none;
	font-size:14px;
	color:#4d4d4d;
	font-weight:block;
}
.pk ul li{
	list-style-type:disc;
	color:#d20f02;
}
.pk{
	margin:10px 0 0 20px;
}
.main-left-box1-r{
	width:350px;
	height:420px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin-left:10px;
	border-top:none;
}
.box1-l{
	width:172px;
	height:35px;
	border:1px solid #e5e5e5;
	border-radius:10px 10px 0 0;
	border-bottom:none;
	border-left:none;
}
.box1-r{
	width:172px;
	height:35px;
	border:1px solid #e5e5e5;
	border-radius:10px 10px 0 0;
	margin-left:3px;
	background:#f6f6f6;
}
.box1 a{
	text-decoration:none;
	display:inline-block;
}
.box2 ul li{
	list-style:none;
	font-size:12px;
	color:#6e6e6e;
}
.box2{
	height:108px;
	width:315px;
	margin:10px 0 0 15px;
	border:1px solid #e5e5e5;
	border-radius:0 10px 10px 0;
	position:relative;
}
.box2 ul{
	margin:15px 0 0 20px;
}
.box2 img{
	margin-top:15px;
}
.box2-1{
	position:absolute;
	top:-15px;
	right:0px;
}
.box2-2{
	position:absolute;
	top:48px;
	left:75px;
}
.box2-3{
	margin:105px 0 0 280px;
}
.box3-1{
	width:350px;
	height:500px;
	border:1px solid #e5e5e5;
	border-radius:10px;
}
.box3-2{
	width:350px;
	height:500px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin-left:10px;
}
.box3-1-top ul li{
	list-style:none;
}
.box3-1-top{
	width:300px;
	height:60px;
	border-bottom:1px solid #e5e5e5;
	margin:0 auto;
	margin-top:10px;
}
.box3-1-top-r{
	font-size:36px;
	color:#ec1c16;
	font-weight:block;
}
.box3-1-main{
	width:300px;
	margin:0 auto;
	margin-top:10px;
}
.box3-1-main img{
	margin:5px 5px 10px 0px;
	vertical-align:top;
}
.box3-1-main strong{
	font-size:12px;
	font-weight:block;
	color:#333;
	line-height:35px;
}
.box3-1-main p{
	font-size:12px;
	width:195px;
	float:right;
	margin-top:-65px;
}
.box3-1-bottom{
	position:relative;
}
.box3-1-bottom img{
	width: 42px;
	position:absolute;
	top:162px;
	left:71px;
}
table{
	border:1;
	height:285px;
	width:300px;
	background:#ededed;
	margin-left:27px;
	text-align:center;
	font-size:12px;
	color:#aeaeae;
	font-weight:block;
	margin-top:10px;
}
table tr td{
	width:14.3%;
}
.box3-2-top ul li{
	list-style:none;
}
.box3-2-top-l{
	margin:10px 0 0 15px;
}
.box3-2-top-r{
	margin:10px 0 0 2px;
}
.box3-2-main{
	width:320px;
	height:180px;
	background:#f8f8f8;
	border-radius:10px;
	margin:0 auto;
}
.box3-2-main ul li{
	list-style: none;
}
.box3-2-bottom a{
	text-decoration: none;
	font-size:12px;
	color:#454545;
	border-left:1px solid #e5e5e5;
	padding:0 5px;
	margin-left:5px;
}
.box3-2-bottom span{
	font-size:12px;
	color:#999;
	margin-left:25px;
}
.box3-2-bottom p{
	margin-left:28px;
}
.box4-1{
	width:350px;
	height:330px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin-top:10px;
	border-top:none;
}
.box4-2{
	width:350px;
	height:330px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin:10px 0 0 10px;
}
.box4-1-top-l{
	height:35px;
	width:172px;
	border:1px solid #e5e5e5;
	border-radius:10px 10px 0 0;
	border-bottom:none;
	border-left:none;
}
.box4-1-top-r{
	height:35px;
	width:172px;
	border:1px solid #e5e5e5;
	border-radius:10px 10px 0 0;
	margin-left:3px;
	background:#f6f6f6;
}
.box4 a{
	text-decoration:none;
}
.box4-1-top-l a{
	line-height:35px;
}
.box4-1-top-l img{
	vertical-align:top;
	margin:15px 0 0 5px;
}
.box4-1-top-r a{
	line-height:35px;
}
.box4-1-top-r img{
	vertical-align:top;
	margin:15px 0 0 5px;
}
.box4-1 ul li{
	font-size:12px;
	list-style:none;
}
.box4-1-bottom{
	margin:20px 0 0 50px;
}
.box4-1-bottom-1{
	border:2px solid #e01f1f;
	border-radius:5px;
	padding:3px 5px;
	background:#f4f4f4;
}
.box4-1-bottom:hover .box4-1-bottom-1{
	background:#e01f1f;
}
.box4-1-bottom:hover strong{
	color:#fff !important;
}
.box4-1-bottom-2{
	border:2px solid #003399;
	border-radius:5px;
	padding:3px 5px;
	background:#f4f4f4;
	margin-left:5px;
}
.box4-1-bottom:hover .box4-1-bottom-2{
	background:#003399;
}
.box4-1-bottom-13{
	border:2px solid #ff9900;
	border-radius:5px;
	padding:3px 5px;
	background:#ff9900;
	margin-left:5px;
}
.box4-1-bottom-8{
	border:2px solid #e01f1f;
	border-radius:5px;
	padding:3px 5px;
	background:#f4f4f4;
	margin-left:5px;
}
.box4-1-bottom-5{
	border:2px solid #c69cbb;
	border-radius:5px;
	padding:3px 5px;
	background:#f4f4f4;
	margin-left:5px;
}
.box4-2-top{
	height:40px;
}
.box4-2-top strong{
	line-height:40px;
}
.box4-2-top img{
	margin:13px 0 0 210px;
}
.box4-2 p{
	width:310px;
	border:1px solid #fff;
	border-radius:5px;
	background:#f1f1f1;
	padding:5px;
	margin-top:5px;
	margin-left:13px; 
}
.box4-2 p strong{
	font-size:12px;
	color:#d80000;
	margin-left:15px;
}
.box4-2 p a{
	font-size:12px;
	color:#333;
	margin-left:20px;
}
.box4-2 p span{
	font-size:12px;
	color:#666;
	margin-left:74px;
}
.box5-1{
	width:350px;
	height:300px;
	border:1px solid #e5e5e5;
	border-radius:10px;
}
.box5-2{
	width:350px;
	height:300px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin:0 0 0 10px;
}
.box5-1-top{
	height:40px;
}
.box5-1-top strong{
	line-height:40px;
}
.box5-1-top img{
	margin:13px 0 0 90px;
}
.box5-1-main ul{
	list-style:none;
	width:98px;
	height:25px;
	border:1px solid #e5e5e5;
	border-radius:5px 5px 0 0;
	font-size:12px;
}
.box5-1-main strong{
	line-height:25px;
	margin:10px;
}
.box5-1-main img{
	margin:10px;
}
.box5-1-main{
	margin:2px 0 0 25px;
}
.box5-1 p{
	margin:0 0 0 15px;
	font-size:12px;
	height:30px;
	width:315px;
	border-bottom:1px dotted #e5e5e5;
}
.box5-1-bottom a{
	font-size:12px;
	color:#c75d61;
	text-decoration:none;
	margin-right:10px;
	line-height:30px;
}
.box5-1-bottom li{
	font-size:12px;
	color:#454545;
	margin-left:18px;
}
.box5-1-bottom{
	width:315px;
	height:30px;
	border-bottom:1px dotted #e5e5e5;
	margin:0 0 0 15px;
}
.box5-1-bottom img{
	margin:5px 0 0 50px;
}
.GO{
	vertical-align:top;
	margin-left:20px;
}
.box5-2-top{
	height:40px;
}
.box5-2-top strong{
	line-height:40px;
}
.box5-2-top img{
	margin:13px 0 0 180px;
}
.box6-1{
	width:350px;
	height:250px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin:10px 0 0 0;
}
.box6-2{
	width:350px;
	height:250px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin:10px 0 0 10px;
}
.box6-1-top{
	height:40px;
}
.box6-1-top strong{
	line-height:40px;
}
.box6-p-top{
	font-size:12px;
	color:#333;
	text-indent:24px;
	width:295px;
	margin:10px 0 0 15px;
}
.box6-p-bottom strong{
	font-size:14px;
	color:#b80000;
}
.box6-p-bottom a{
	text-decoration:none;
	font-size:14px;
	color:#333;
}
.box6-p-bottom img{
	vertical-align:top;
}
.box6-p-bottom{
	width:295px;
	margin:10px 0 0 15px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:15px;
	margin:10px;
}
.box6 ul li a{
	text-decoration:none;
	color:#292929;
	font-size:12px;
}
.box6 ul{
	color:#b4040a;
	font-size:12px;
	margin:5px 0 0 45px;
}
.box6-2-top{
	height:40px;
}
.box6-2-top strong{
	line-height:40px;
}
.box6-2-top img{
	margin:13px 0 0 78px;
}
.box6-2-bottom p{
	width:315px;
	height:35px;
	margin:10px 0 10px 15px;
}
.box6-2-bottom img{
	vertical-align:top;
}
.box6-2-bottom a{
	font-size:12px;
	color:#292929;
	display:inline-block;
	width:210px;
	height:30px;
	text-decoration:none;
	margin-left:10px;
	font-weight:bolder;
}
.main-right-all{
	width:240px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin-top:10px;
}
.box7{
	height:140px;
}
.box7-top{
	height:35px;
	background:#f7f7f7;
}
.box7-top strong{
	line-height:35px;
}
.box7-main span{
	font-size:12px;
	color:#595959;
}
.box7-main input{
	width:90px;
	height:18px;
	background:#f7f7f7;
}
.box7-main botton{
	background:#dc0000;
	border-radius:10px;
	font-size:14px;
	padding:2px;
	margin-left:7px;
	color:#fff;
}
.box7-main{
	margin:15px 0 0 20px;
}
.box7 ul li{
	font-size:12px;
	color:#666;
}
.box7 ul{
	width:80px;
}
.box8{
	height:240px;
}
.box8-top{
	height:40px;
}
.box8-top strong{
	line-height:40px;
}
.box8-top img{
	margin:13px 0 0 50px;
}
.box8-main ul{
	list-style:none;
	width:66px;
	height:25px;
	border:1px solid #e5e5e5;
	border-radius:5px 5px 0 0;
	font-size:12px;
}
.box8-main strong{
	line-height:25px;
	margin:10px;
}
.box8-main{
	margin:2px 0 0 18px;
}
.box8 p{
	margin:0 0 0 15px;
	font-size:12px;
	height:30px;
	width:218px;
	border-bottom:1px dotted #e5e5e5;
}
.box8-bottom a{
	text-decoration:none;
	font-size:12px;
	font-weight:bolder;
	color:#333;
}
.box8-bottom span{
	font-size:12px;
	color:#999;
	font-weight:bolder;
	margin-left:20px;
}
.box8-bottom{
	width:218px;
	height:20px;
	color:#d80000;
	border-bottom:1px dotted #e5e5e5;
	margin:5px 0 0 15px;
}
.box8-bottom li{
	margin-left:30px;
	line-height:12px;
}
.box9{
	height:420px;
}
.box9-top strong{
	line-height:40px;
}
.box9-top img{
	margin:13px 0 0 70px;
}
.box9-r{
	list-style:none;
	font-size:12px;
}
.box9-main{
	margin:0 0 0 10px;
	width:220px;
	border-bottom:1px dotted #e5e5e5;
	padding-bottom:5px;
}
.box9-r li{
	margin-left:10px;
}
.box10{
	height:180px;
}
.box10-top strong{
	line-height:40px;
}
.box10-top img{
	margin:13px 0 0 40px;
}
.box11{
	height:350px;
}
.box11-top strong{
	line-height:40px;
}
.box11-top img{
	margin:13px 0 0 80px;
}
.box11-main{
	width:218px;
	height:20px;
	color:#d80000;
	border-bottom:1px dotted #e5e5e5;
	margin:5px 0 0 15px;
}
.box11-main a{
	text-decoration:none;
	color:#c75d61;
	font-size:12px;
}
.box11-main strong{
	color:#333;
	font-size:12px;
	margin-left:5px;
}
.box11-main li{
	margin-left:30px;
	line-height:12px;
}
.box12{
	height:370px;
}
.box12-main-l{
	list-style:none;
	font-size:12px;
	width:100px;
	height:137px;
	margin-left:15px;
}
.box12-main-l a{
	text-decoration:none;
	font-weight:bolder;
	color:#666;
}
.box12-main-l p span{
	color:#999;
}
.box12-top{
	width:218px;
	height:25px;
	color:#d80000;
	border-bottom:1px dotted #e5e5e5;
	margin:5px 0 0 15px;
}
.box12-top a{
	text-decoration:none;
	color:#c75d61;
	font-size:12px;
}
.box12-top strong{
	color:#333;
	font-size:12px;
	margin-left:5px;
}
.box12-top li{
	margin-left:30px;
	line-height:12px;
}
.footer{
	height:80px;
	background:#f9f9f9;
	margin:10px 0;
	border-radius:10px;
}
.footer-top{
	text-align:center;
	padding-top:15px;
}
.footer-top a{
	text-decoration:none;
	font-size:12px;
	color:#454545;
	font-weight:bolder;
	border-right:1px solid #919191;
	padding:0 10px;
}
.footer-bottom{
	text-align:center;
	padding-top:10px;
}
.footer-bottom a{
	text-decoration:none;
	font-size:12px;
	color:#767676;
}