nav{
	width: 732px;
}
.nav-left{
	margin-right:10%;
}
.main-footer-top-l{
	width: 100%;
	margin-bottom:30px;
}
.main-footer-top-r{
	width:100%;
	margin-bottom:30px;
}
.main-footer-bottom-l{
	width:100%;
	margin-bottom:30px;
	margin-top:-30px;
}
.main-footer-bottom-r{
	width:100%;
}